<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>{{msg}}!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
  </head>
  <body>
    <div id="container">
      <h1>{{msg}}</h1>
    </div>
  </body>
</html>
