body{
 }

.container {
}

#banner {
    top: 0;
    position: fixed;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;    
}

.row > div {
    border-width: 10px;
    border-color: black;
    border-style: solid;
    width: 25vw;
    height: 75vh;
    margin-top:5vh;
}


footer {
    position: fixed;
    bottom: 0px;
}
